/* 
- mobile view of comments is overlapping text
*/

.App {
  text-align: center;
  font-family: 'Sahitya', serif;
}

.Header {
  background-color: #138188;
  padding-bottom: 5px;
}
.Header__title,
.Header__title:hover {
  text-decoration: none;
  color: inherit;
  font-family: 'Bevan', cursive;
}

.Nav {
  background-color: #adebe0;
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

.ListOrder__options {
  display: flex;
  justify-content: space-around;
}

.ArticlesList__header {
  margin: 15px;
  font-family: 'Bevan', cursive;
}
.ArticlesList__options__header,
.ArticlesList__article__details p,
.Header__subheader,
.Votes {
  margin: 5px;
}

.ArticlesList__article__stats {
  display: flex;
  justify-content: space-around;
}
.ArticlesList__article__stats p {
  margin: 5px 0px 5px 0px;
}
.ArticlesList__article__link h3 {
  font-family: 'Bevan', cursive;
  font-size: 20px;
  margin: 8px 20px 8px 20px;
  text-align: left;
}
.ArticlesList__article__link {
  color: inherit;
}

.ArticlesList__article__details {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
}
.ArticlesList__article,
.Article__container {
  background-color: #dffbe1;
  margin: 10px 25px 10px 25px;
  border-radius: 5px;
}

.Article__topic {
  text-align: left;
  font-size: 18px;
  background-color: #138188;
  padding: 5px;
  color: white;
  display: inline-block;
}

.Article__topic:hover {
  background-color: white;
  color: #138188;
}

.Article__title-topic {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Article__container h2 {
  font-family: 'Bevan', cursive;
  font-size: 30px;
  text-align: left;
}
.Article__details {
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto;
  grid-row-gap: 10px;
}

.Article__details p {
  font-size: 18px;
  margin: 0px;
}
.Article__body-vote-container {
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 60px;
}
.Article__body {
  font-size: 20px;
  background-color: rgb(173, 173, 173);
  list-style-type: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
.Article__margin {
  margin: 8px 20px 8px 20px;
}
.Comments__container {
  display: flex;
  padding: 0px 0px 10px 0px;
  justify-content: space-between;
  flex-direction: column;
}
.Comments__list-item {
  background-color: rgb(173, 173, 173);
  list-style-type: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.Article__body__inner-container {
  background-color: white;
  display: flex;
  border-radius: 5px;
}

.Comments__list-item__inner-container {
  display: grid;
  grid-template-columns: 20% 80%;
  margin: 8px 20px 8px 20px;
  background-color: white;
  display: flex;
  border-radius: 5px;
}

label {
  margin-right: 10px;
}

.Comments__body {
  display: inline-block;
  margin: 8px 10px 8px 10px;
  height: fit-content;
  padding: 10px;
}

.Comments__author,
.Comments__votes {
  font-size: 14px;
  text-align: left;
  margin: 20px;
}
.Comments_form {
  margin: 20px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.Nav__topic,
.dropdown__item {
  padding-left: 10px;
  list-style-type: none;
  padding-bottom: 10px;
}
.dropdown__item:active {
  background-color: #adebe0;
}

.Nav__topic,
.Header__user {
  display: none;
}

.ListOrder__sort-statement {
  margin: 10px;
  width: 50%;
}

.ListOrder__sort-statement-container {
  display: flex;
  justify-content: center;
}

.Error__container {
  margin: 30px;
  color: #0e5a5f;
}

@media only screen and (min-width: 1000px) {
  .App {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: auto auto;
    grid-template-areas: 'header header' 'nav main';
  }
  .Header {
    grid-area: header;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 'header user';
    padding: 20px;
  }
  .Nav {
    font-size: 20px;
    grid-area: nav;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 10px;
  }

  .Nav__item {
    margin: 0px;
    margin-top: 20px;
    color: inherit;
    font-size: 30px;
  }
  main,
  .Article__container {
    grid-area: main;
  }

  .Nav__dropdown,
  .Nav__user {
    display: none;
  }
  .Nav__topic {
    display: unset;
  }
  .Header__user {
    grid-area: user;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    font-size: 20px;
  }
  .Header__subcontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .Article__container p,
  .Comments__author,
  .Comments__votes,
  .Comments__form,
  .ListOrder__sort-statement {
    font-size: 20px;
  }

  .ArticlesList__article {
    width: 90%;
    border-radius: 5px;
  }
  .ArticlesList__container {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    flex-direction: column;
  }
}
